body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

main {
  flex: 1 0 auto;
}

a:hover {
  transition: 0.2s;
  transform: translateY(-2px);
}

button{
  border: 0;
  background: none;
  cursor: pointer;
}